<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>연습용 사이트</title>
    <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}"></link>
</head>
<body>
<header th:replace="~{fragment/header-login :: header}"></header>
        <main>
          <section>
            <form action="boardList.html" th:action th:object="${board}" method="post" enctype="multipart/form-data">
              <label>제목</label>
              <input type="text" name="subject" th:field="*{title}">
                <div class="field_err" th:errors="*{title}"></div>
              <label>내용</label>
              <textarea name="contents" th:field="*{contents}"></textarea>
                <div class="field_err" th:errors="*{contents}"></div>
                <label>첨부파일 (하나)</label><input type="file" name="file">
                <label>첨부사진 (복수) * 사진만 넣어주세요 제발 </label><input type="file" multiple="multiple" name="files">
              <button class="form_button" type="submit">완료</button>
            </form>
            <button class="form_button" onclick="location.href='boardList.html'" th:onclick="|location.href='@{/board(page=${queryParam})}'|">취소</button>
          </section>
        </main>
    </body>
</html>