<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>연습용 사이트</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../static/css/loginForm.css" th:href="@{/css/loginForm.css}">
</head>
<body>
<header th:replace="~{fragment/header :: header}"></header>
<main>
    <form action="../index.html" th:action th:object="${member}" method="post">
        <section class="error_container" th:if="${#fields.hasGlobalErrors()}">
            <div th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
        </section>
        <section class="login_container">
            <div class="logo">SOGI SHOP</div>
            <input type="text" name="email" th:field="*{email}" placeholder="사용자 이름">
            <div class="field_err" th:errors="*{email}"></div>
            <input type="password" name="password" th:field="*{password}" placeholder="비밀번호">
            <div class="field_err" th:errors="*{password}"></div>
            <div style="display:flex; flex-direction:column; align-items: center;">
                <div style="margin-top:9px; margin-bottom:5px; color:rgb(70, 70, 70);">주소 하나만 기입 가능</div>
                <input type="text" th:field="*{addressName}" placeholder="지번 주소">
                <input type="text" th:field="*{roadAddressName}" placeholder="도로명 주소">
            </div>
            <div class="field_err" th:errors="*{addressName}"></div>
            <div class="inside_container">
                <label style="margin: 0 !important;height:25px;">판매자 여부</label>
                <input type="checkbox" name="isSeller" style="width: 25px;height:25px;">
            </div>
            <button type="submit" class="form_button">회원가입</button>
            <div class="or_seperator">또는</div>
            <div class="inside_container">
                <div>계정이 있으신가요?</div>
                <div>로그인하기</div>
            </div>
        </section>
    </form>
</main>
</body>
</html>