<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>연습용 사이트(수정)</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap">
        <link rel="stylesheet" href="css/index.css" th:href="@{/css/index.css}">
    </head>
    <body>
        <main>
          <section class="container">
            <div class="sandwich_text">Welcome To SOGI shop</div>
            <div class="inner_container">
              <p class="vertical_text"></p>
              <a href="main.html" th:href="@{/main}">
               <img src="image/KakaoTalk_20220103_105543212_02.jpg" th:src="@{/image/KakaoTalk_20220103_105543212_02.jpg}" width="300px">
              </a>
              <p class="vertical_text">2022.22.22<br>2022.22.22 ~<br>개발 기간</p>
            </div>
            <div class="sandwich_text">AMOR FATI</div>
          </section>
        </main>
    </body>
</html>