<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SOGI SHOP :: LOGIN</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap">
    <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../css/loginForm.css" th:href="@{/css/loginForm.css}">

</head>
<body>
<header th:replace="~{fragment/header :: header}"></header>
    <main>
            <form action="../index.html" th:action th:object="${loginDto}" method="post">
            <section class="error_container" th:if="${#fields.hasGlobalErrors()}">
              <div class="field_err">이메일 혹은 비밀번호가 올바르지 않습니다.</div>
            </section>
            <section class="login_container">
              <div class="logo">SOGI SHOP</div>
              <input type="text" name="email" placeholder="사용자 이름">
              <input type="password" name="password" placeholder="비밀번호">
              <button type="submit" class="form_button">로그인</button>
              <div class="or_separator">또는</div>
              <div class="inside_container">
                <div>비밀번호를 잊으셨나요?</div>
                <div><a th:href="@{/find/password}">비밀번호 찾기</a></div>
              </div>
              <div class="inside_container">
                <div>아직 회원이 아니신가요?</div>
                <div><a th:href="@{/join}">회원가입하기</a></div>
              </div>
            </section>
            </form>
        </main>
    </body>
</html>