<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>연습용 사이트</title>
    <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../css/loginForm.css" th:href="@{/css/loginForm.css}">
</head>
<body>
<header th:replace="~{fragment/header :: header}"></header>
    <main>
          <section>
            <form action="../index.html" th:action th:object="${loginDto}" method="post">
              <div class="field_err" th:if="${#fields.hasGlobalErrors()}">이메일 혹은 비밀번호가 올바르지 않습니다.</div>
              <label>이메일</label>
              <input type="text" name="email">
              <label>비밀번호</label>
              <input type="password" name="password">
              <button type="submit" class="form_button">로그인</button>
            </form>
            <button class="form_button" onclick="location.href='../index.html'" th:onclick="|location.href='@{/main}'|">홈으로</button>
          </section>
        </main>
    </body>
</html>