<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>연습용 사이트</title>
        <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}"></link>
    </head>
    <body>
    <header th:replace="~{fragment/header-login :: header}"></header>
    <main>
          <section>
            <button th:if="${isSeller}" class="writeButton" onclick="location.href='itemWriteForm.html'" th:onclick="|location.href='@{/items/add}'|">상품등록</button>
            <table>
              <thead>
                <tr>
                  <td>번호</td>
                  <td>상품명</td>
                  <td>가격</td>
                  <td>판매자</td>
                  <td>잔여수량</td>
                </tr>
              </thead>
              <tbody>
                <tr th:each="item : ${itemList}">
                  <td><a href="itemDetail.html" th:href="@{/items/item/{itemId}(itemId=${item.itemId})}" th:text="${item.itemId}">1</a></td>
                  <td><a href="itemDetail.html" th:href="@{/items/item/{itemId}(itemId=${item.itemId})}" th:text="${item.itemName}">파인애플워치</a></td>
                  <td th:text="${item.price}">275,000</td>
                  <td th:text="${item.member.userId}">과수원주인</td>
                  <td th:text="${item.stockQuantity}">9</td>
                </tr>
              </tbody>
            </table>

          </section>
        </main>
    </body>
</html>