<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>연습용 사이트</title>
    <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}"></link>
</head>
<body>
<header th:replace="~{fragment/header-login :: header}"></header>
        <main>
          <section>
            <form th:object="${item}">
              <label>번호</label><input name="itemId" th:field="*{itemId}" readonly>
              <label>상품명</label><input name="itemName" th:field="*{itemName}" readonly>
              <label>가격</label><input name="price" th:field="*{price}" readonly>
              <label>판매자</label><input name="seller" th:field="*{member.userId}" readonly>
              <label>수량</label><input name="quantity" th:field="*{stockQuantity}" readonly>
            </form>
              <button class="form_button" th:onclick="|location.href='@{/items/item/{itemId}/update(itemId=${item.itemId})}'|">수정하기</button>
              <button class="form_button" th:onclick="|location.href='@{/items/item/{itemId}/delete(itemId=${item.itemId})}'|">삭제하기</button>
              <button class="form_button" onclick="location.href='itemList.html'" th:onclick="|location.href='@{/items(page=${queryParam})}'|">뒤로가기</button>
          </section>
        </main>
    </body>
</html>