<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>연습용 사이트</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap">
        <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}">
        <link rel="stylesheet" href="../css/items/itemList.css" th:href="@{/css/items/itemList.css}">
    </head>
    <body>
        <header th:replace="~{fragment/header :: header}"></header>
        <main class="main_container">
            <nav class="category_container">
              <div>전체 상품</div>
              <div>책</div>
              <div>강의</div>
            </nav>
            <section class="items_container">
              <div class="item_card" th:each="item : ${list}">
                  <a th:href="@{/item/detail/{id}(id=${item.id})}">
                      <img width="250px" height="250px">
                  </a>
                    <div><a th:href="@{/item/detail/{id}(id=${item.id})}" th:text="${item.itemName}">이름</a></div>
                    <div th:text="${item.starRating}">별점</div>
                    <div th:text="${item.price}">열정가격</div>
                    <div th:text="${item.reviewNumbers}">리뷰 수</div>
              </div>
            </section>
        </main>
    </body>
</html>