<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SOGI SHOP :: SHOP</title>
    <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}"></link>
</head>
<body>
<header th:replace="~{fragment/header :: header}"></header>
        <main>
          <section>
            <form action="itemUpdate.html" th:action th:object="${item}" method="post">
              <label>번호</label><input name="itemId" th:field="*{itemId}" readonly>
              <label>상품명</label><input name="itemName" th:field="*{itemName}">
              <label>가격</label><input name="price" th:field="*{price}">
              <label>판매자</label><input name="seller" th:field="*{member.userId}" readonly>
              <label>수량</label><input name="quantity" th:field="*{stockQuantity}">
              <button class="form_button" type="submit">완료</button>
            </form>
            <button class="form_button" onclick="location.href='itemList.html'" th:onclick="|location.href='@{/items/item/{itemId}(itemId=${item.itemId})}'|">취소</button>
          </section>
        </main>
    </body>
</html>